@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f7cccb; 
}

::-webkit-scrollbar-thumb {
  background: #e0bbba; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dea1a0; 
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #dea1a0 #e0bbba; /* Thumb color matches 'prime', track matches 'prime-dark' */
}

#loader-wrapper {
  transition: opacity 0.5s ease-out;
}
